# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [17]:
# import libraries
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [18]:
# load messages dataset
messages = pd.read_csv("messages.csv")
messages.head()

   id                                            message                                           original   genre
0   2  Weather update - a cold front from Cuba that c...  Un front froid se retrouve sur Cuba ce matin. ...  direct
1   7            Is the Hurricane over or is it not over                 Cyclone nan fini osinon li pa fini  direct
2   8                    Looking for someone but no name  Patnm, di Maryani relem pou li banm nouvel li ...  direct
3   9  UN reports Leogane 80-90 destroyed. Only Hospi...  UN reports Leogane 80-90 destroyed. Only Hospi...  direct
4  12  says: west side of Haiti, rest of the country ...  facade ouest d Haiti et le reste du pays aujou...  direct

In [19]:
messages.shape

(26248, 4)

In [20]:
# load categories dataset
categories = pd.read_csv("categories.csv")
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

In [21]:
categories.shape

(26248, 2)

In [22]:
df3 = messages.equals(categories)
print('Matches:', df3)

Matches: False

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [23]:
# merge datasets
df = pd.merge(categories,messages, how='inner', on = "id", sort=True,
         suffixes=('_c', '_m'), copy=True, indicator=False,
         validate=None)
df.head()

   id                                         categories                                            message                                           original   genre
0   2  related-1;request-0;offer-0;aid_related-0;medi...  Weather update - a cold front from Cuba that c...  Un front froid se retrouve sur Cuba ce matin. ...  direct
1   7  related-1;request-0;offer-0;aid_related-1;medi...            Is the Hurricane over or is it not over                 Cyclone nan fini osinon li pa fini  direct
2   8  related-1;request-0;offer-0;aid_related-0;medi...                    Looking for someone but no name  Patnm, di Maryani relem pou li banm nouvel li ...  direct
3   9  related-1;request-1;offer-0;aid_related-1;medi...  UN reports Leogane 80-90 destroyed. Only Hospi...  UN reports Leogane 80-90 destroyed. Only Hospi...  direct
4  12  related-1;request-0;offer-0;aid_related-0;medi...  says: west side of Haiti, rest of the country ...  facade ouest d Haiti et le reste du pays aujou...  direct

In [24]:
df.shape

(26386, 5)

In [26]:
df.columns[df.isnull().sum()/len(df) > .45]

ImportError: cannot import name 'roperator'

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26386 entries, 0 to 26385
Data columns (total 5 columns):
id            26386 non-null int64
categories    26386 non-null object
message       26386 non-null object
original      10246 non-null object
genre         26386 non-null object
dtypes: int64(1), object(4)
memory usage: 1.2+ MB

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [ ]:
# create a dataframe of the 36 individual category columns
categories = df['categories'].str.split(";", expand=True)
categories.head()

In [ ]:
categories.iloc[0,:]

In [ ]:
# select the first row of the categories dataframe
row = categories.iloc[0,:]

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = row.apply(lambda x: pd.Series(x[:-2]))
print(category_colnames)

In [ ]:
category_colnames.loc[:,0]

In [ ]:
category_colnames.head()

In [ ]:
type(row)

In [ ]:
type(category_colnames)

In [ ]:
# rename the columns of `categories`
categories.columns = category_colnames.loc[:,0]
categories.head()

In [ ]:
type(categories.columns)

In [ ]:
type(categories)

In [ ]:
categories.columns

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [ ]:
categories

In [123]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = 
    
    # convert column from string to numeric
    categories[column] = 
categories.head()

SyntaxError: invalid syntax (<ipython-input-123-9ac8afc749b0>, line 3)

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [ ]:
df.head()

In [ ]:
# drop the original categories column from `df`

# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df.drop()])
df.head()

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [ ]:
# check number of duplicates
df.duplicated(['id']).sum() == 0

In [ ]:
print(sum(df.duplicated()))

In [ ]:
ids = df["id"]
df[ids.isin(ids[ids.duplicated()])].sort_values(by="id")

In [ ]:
# drop duplicates

df=df.drop_duplicates()

In [ ]:
# check number of duplicates
print(sum(df.duplicated()))

In [ ]:
df.shape

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [ ]:
engine = create_engine('sqlite:///InsertDatabaseName.db')
df.to_sql('InsertTableName', engine, index=False)

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.